main {
    padding: 2rem;
}

h2 {
    font-family: 'Damion', serif;
    color: #f5c555;
    font-weight: 400;
    text-align: center;
    font-size: 5rem;
}

h3 {
    color:#d679a6;
    font-size: 3rem;
}

h4 {
    color:#f5c555;
    font-size: 2rem;
}

main img {
    max-width: 300px;
    max-height: 300px;
    align-self: center;
}

.borderPink {
    border-bottom: 1px solid #d679a6;
}

.sectionBoutique {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-self: center;
}

.wrap {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 5rem 0;
    justify-content: center;
}

.ficheProduit {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3rem;
}

.sortes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addCart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn__add {
    background-color: #f5c555;
    border: none;
    padding: 1rem;
    font: 1.5rem 'Montserrat', sans-serif;
    margin: 1rem;
}

.figureBoutique {
    width: 300px;
    height: 300px;
    display: flex;
    align-self: center;
    margin: 0;
}

li .active {
    color:#d679a6;
}



@media screen and (min-width: 800px) {
    .sectionBoutique {
        background-color:rgba(0, 0, 0, 0.0);
    }

    .wrap {
        display: flex;
        justify-content: flex-start;
    }

    .borderPink {
        border-bottom: 1px solid #f5c555;
    }
}